*{
	margin: 0;
	padding: 0;
}

#game {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	margin: 20px;
}
#game p{
	width: 100px;
	height: 100px;
}

#game img{

	justify-content: center;
	align-items: center;
	width: 10rem;
	height: 30rem;
	padding: 20px;
	margin: 20px;
}
#player-hand{
	display: flex;
	justify-content: center;
	align-items: center;
}

#pick-hand img	{
	width: 10%;
	height: 10%;
	padding: 20px;
	margin: 20px;
}
#pick-hand{
	display: flex;
	justify-content: center;
	align-items: center;
}
#label{

	text-align: center;
	align-items: center;

}
#enemy-hand{

	justify-content: center;
	align-items: center;
}
