#facebook_logo{
  
}
._97vu {
    margin: -44px 0 -4px 0;
    width: 240px;
}
img {
    border: 0;
}
user agent stylesheet
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
#facebook ._-kb div {
    font-family: inherit;
}
._97vy {
    text-align: center;
}
body, button, input, label, select, td, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
body {
    background: #fff;
    color: #1c1e21;
    direction: ltr;
    line-height: 1.34;
    margin: 0;
    padding: 0;
    unicode-bidi: embed;
}
}
#bg-color{
  background-color: #FFF2E4!important;
}
.navbar-nav a{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;


  color: #004E84 !important;
}

#title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 82px;
  /* or 124% */

  display: flex;
  align-items: center;
  text-align: center;

  /* GS Brand / White */

  color: #ffffff;
}
#base{
  padding: 8px 24px;
  gap: 8px;
  background: #ffffff;
  border-radius: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #003363;
}
#landing{
  background: 
  linear-gradient(
      rgba(0, 34, 65, 0.61),
      rgba(0, 34, 65, 0.61)
    ),

  url("./images/mylanding.jpg")
  ;
  background-repeat: no-repeat;
  background-size: cover;
}

#text-title{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  /* identical to box height, or 133% */


  color: #003363;
}

#about{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */


  color: #003363;
}
h3{
  color: #003363;
}

h4{
  color: #003363;
}

#skills li{
  color: #003363;
}

#works{
  background: #003363;
}
#social{
  background: #003363;
}
#follow{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  text-align: center;

  color: #FFFFFF;
}

#contact{
  background: #f0f2f5 !important;
  border-radius: 5px;
}

#contact-us{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  border-radius: 5px;
  /* identical to box height */

  color: #003363;
}
#submit-button{
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 332px;
}
form{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #003363;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: auto;
  padding: 0 0 14px 0;
  width: 396px;

}
#thankyou{
  color: #003363;
}

.social{
  width: 50px;
  height: 50px;
  background: #D1D1D6;
  border-radius: 100%;
}
footer{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;

  text-align: center;
  background-color:   #FFF2E4;
}

#login_link{
  font-family: inherit;
  padding: 12px 0 18px;
  color: #90949c;
  font-weight: normal;
  font-size: 12px;
}